html
    head
        title 你画我猜 DEMO
        script(src='js/jquery-1.9.1.min.js')
        script(src='js/socket.io-1.3.0.js')
        script(src='js/jquery.cookie.js')
        script(src='js/main.js')
        link(href='css/style.css', rel='stylesheet')
    body
        div#head
            div#myname
            div#painter
            div#words loading...
        div#container
            canvas(id='stage',width='400px',height='300px')
            div(id='chat')
                div#chat-list
                div#input-message
                    input(type='text',id='message')
                    input(type='button',id='send',value='Send')
            div#user-list